*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Large temporary/model files (Exclude from Git)
*.task
logcat_temp.txt
logcat_temp_utf8.txt
*.pdf
/gemma-2-2b-it-dotnote/
/output/


